@tailwind base;
@tailwind components;
/*@tailwind utilities;*/


body{
    background-color: #e4d1cb;
}
.page-wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.main{
    flex:1;
}

header {
    margin-bottom: 50px;
}

h1{
    font-size: 24px;
}
h2{
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
}
h3{
    font-size: 18px;
    margin-top: 15px;
    margin-bottom: 5px;
}
.legale ul  {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.legale li {
    margin-bottom: 10px;
    margin-left:30px;
    list-style: auto;
}
.legale a {
    color: #0056b3;
    text-decoration: none;
}
.legale a:hover {
    text-decoration: underline;
}
/* NAVIGATION */
#navbarNav .navbar {
    display: flex; /* Utilise Flexbox pour positionner les éléments */
    justify-content: space-between; /* Espace entre les menus pour alignement */
    align-items: center; /* Centre verticalement les éléments */
    padding: 10px 20px; /* Espacement autour de la navbar */
    width: 100%;
}

.navbar-nav {
    list-style: none; /* Supprime les puces des listes */
    padding: 0;
    margin: 0;
    display: flex; /* Affiche les éléments en ligne */
}

.nav-item {
    margin: 0 15px; /* Espacement entre les éléments de la liste */
}

.nav-link {
    text-decoration: none; /* Supprime le soulignement des liens */
    font-weight: bold; /* Rend le texte des liens en gras */
}

.nav-link:hover {
    text-decoration: underline; /* Ajoute un soulignement au survol */
}

/* Styles spécifiques pour le menu centré */
.center-menu {
    flex: 1; /* Permet au menu centré de prendre tout l'espace disponible */
    justify-content: center; /* Centre les éléments de la liste */
}

/* Styles spécifiques pour le menu à droite */
.right-menu {
    margin-left: auto; /* Pousse le menu à l'extrême droite */
}


a:hover{
    color:#000
}

.image-container {
    overflow: hidden; /* Masque toute partie de l'image qui dépasse */
}

.zoomable-image {
    transition: transform 0.3s ease; /* Transition douce pour le zoom */
    width: 100%; /* Assure que l'image remplit le conteneur */
    height: auto; /* Maintient le ratio d'aspect de l'image */
}

.zoomable-image:hover {
    transform: scale(1.1); /* Applique un zoom de 10% à l'image */
}



/* PAGE DETAIL PRODUIT */
.product-detail {
    margin: 20px;
}

.product-image img {
    width: 600px;
    height: auto;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.product-info {
    margin: 0 auto;
}

.product-info .name{
    font-size: 4em;
    white-space: nowrap;
}

.description {
    margin-top: 10px;
    color: #666;
}

.price {
    margin-top: 30px;
    font-size: 24px;
    color: #333;
}

.taxe{
    margin-top: 10px;
    font-size: 0.8em;
}

.quantity-input{
    display: flex;
    position: relative;
    width: 130px;
    height: 50px;
    border:1px solid #000;
    margin-top: 30px;
    border-radius: 4px;
    
}
.quantity_button{
    margin-top: 0px;
    color:#000;
}
.quantity_input{
    padding:0;
    text-align: center;
    width: 30px;
    border:none;
    background: none;
}

.add_panier{
    width: 100%;
    border: 1px solid #000;
    background-color: #fff;
    color:#000;
    transition: box-shadow 0.3s ease;
}

button {
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 10px;
}

.add_panier:hover {
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.8);
}


/*  PANIER */
.panierName {
    font-size: 4em;
}
.containerPanier {
    display: flex;
    justify-content: space-between;
    padding: 20px;

    .table-container {
        flex: 2; 
        margin-right: 20px;
    }

    .summary-container {
        flex: 0.5;
        border: 1px solid #ddd;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }

    table {
        width: 100%;
        border-collapse: collapse;

        th {
            background-color: #f4f4f4;
        }
        th, .containerPanier td {
            padding: 10px;
            text-align: left;
            border: 1px solid #ddd;
        }
    }

    .total {
        font-weight: bold;
        font-size: 1.2em;
    }

    .btn {
        display: inline-block;
        padding: 10px 20px;
        font-size: 1em;
        color: #fff;
        background-color: #007bff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        text-align: center;
        text-decoration: none;
        width: 100%;

        &:hover {
            background-color: #0056b3;
        }
    }

    .btn-danger {
        background-color: #dc3545;

        &:hover {
            background-color: #c82333;
        }
    }
}

.containerRecap{
    padding:20px;
}

/* CONTACT*/
.contact.form-container {
    width: 50%;
    margin: 0 auto;
}
.contact {
    .form-group {
        display: flex;
        align-items: center;
        margin-bottom: 15px;
    
        label {
            width: 15%;
            margin-right: 10px;
        }

        input, textarea{
            width: 70%;
            padding: 5px;
        }
    }
    .btn-primary {
        display: block;
        border: 1px solid #000;
        background-color: #fff;
        color:#000;
        margin: 0 auto;
    }
}

/* FIN CONTACT*/
/* FOOTER */
footer {
    background-color: #0000006b; 
    padding: 20px 0; 

    .footer-menu ul {
        list-style-type: none; 
        padding: 0;
        margin: 0;
        display: inline-block; 

        li {
            display: inline; 
            margin: 0 15px; 

            a {
                text-decoration: none; 
                color: #fff; 

                &:hover{
                    text-decoration: underline; 
                }
            }
        }
    }
}

/* CONNEXION*/
.connexion{
    width: 300px;
    border: 1px solid #000;
    border-radius: 15px;
    padding: 15px;
    margin: 0 auto;
    background-color: #fff;

    button[type="submit"]{
        background-color: #000;
    }
}

/* MODAL*/
.modal-content {
    display: flex;
    flex-direction: row;
}
.modal-body {
    display: flex;
    flex-direction: row;
}
.modal-section {
    flex: 1;
    padding: 20px;
}
.modal-left {
    border-right: 1px solid #ddd;
}
.modal-right {
    border-left: 1px solid #ddd;
}
.modal .btn{
    padding: 10px 20px;
    font-size: 1em;
    color: #000;
    background-color: #e4d1cb;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    width: 70%;
    margin: 0 auto;
}

.btnPerso{
    padding: 10px 20px;
    font-size: 1em;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    width: 70%;
    margin: 0 auto;
    transition: box-shadow 0.3s ease;
    
    &:hover{
        color: #000;
        box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.8);
    }
}

/* DASHBOARD */
.sidebarDashboard{
    margin-right: 10px;

    ul{
        li{
            padding: 2px;
        }
    }
}
.contentDashboard{
    width: 100%;
    border-radius: 0.5em;

    h3{
        margin-top: 0;
    }

    button[type="submit"]{
        background-color: #000;
    }

    .btnDetail{
        font-size: 1em;
        color: #000;
        background-color: #fff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        text-align: center;
        text-decoration: none;
        transition: box-shadow 0.3s ease;
        
        &:hover{
            color: #000;
            box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.8);
        }
    }

    .containerCommande{
        display: flex;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        border-radius: 8px;
        background-color: #fff;
        margin-bottom: 16px;
        overflow: hidden;
    }
    .content{
        flex: 3;
        padding: 16px;
    }
    .buttonContainer{
        flex: 2; /* Equivalent to w-1/4 */
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding: 16px;
        
        a{
            transition: box-shadow 0.3s ease;

            &:hover{
                box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
            }
        }
    }
}

@media (max-width: 576px) {
    .product-info .name {
        font-size: 2.8rem; /* Petite taille pour les très petits écrans */
        white-space: normal;
    }
}

@media (min-width: 577px) and (max-width: 768px) {
    .product-info .name {
        font-size: 3.5rem; /* Taille moyenne pour les écrans un peu plus grands */
    }
}

@media (min-width: 769px) {
    .product-info .name {
        font-size: 4rem; /* Taille plus grande pour les écrans moyens à grands */
    }
}
