@tailwind base;
@tailwind components;
/*@tailwind utilities;*/


body{
    background-color: #e4d1cb;
}

/* NAVIGATION */
#navbarNav .navbar {
    display: flex; /* Utilise Flexbox pour positionner les éléments */
    justify-content: space-between; /* Espace entre les menus pour alignement */
    align-items: center; /* Centre verticalement les éléments */
    padding: 10px 20px; /* Espacement autour de la navbar */
    width: 100%;
}

.navbar-nav {
    list-style: none; /* Supprime les puces des listes */
    padding: 0;
    margin: 0;
    display: flex; /* Affiche les éléments en ligne */
}

.nav-item {
    margin: 0 15px; /* Espacement entre les éléments de la liste */
}

.nav-link {
    text-decoration: none; /* Supprime le soulignement des liens */
    font-weight: bold; /* Rend le texte des liens en gras */
}

.nav-link:hover {
    text-decoration: underline; /* Ajoute un soulignement au survol */
}

/* Styles spécifiques pour le menu centré */
.center-menu {
    flex: 1; /* Permet au menu centré de prendre tout l'espace disponible */
    justify-content: center; /* Centre les éléments de la liste */
}

/* Styles spécifiques pour le menu à droite */
.right-menu {
    margin-left: auto; /* Pousse le menu à l'extrême droite */
}


a:hover{
    color:#000
}

.image-container {
    overflow: hidden; /* Masque toute partie de l'image qui dépasse */
}

.zoomable-image {
    transition: transform 0.3s ease; /* Transition douce pour le zoom */
    width: 100%; /* Assure que l'image remplit le conteneur */
    height: auto; /* Maintient le ratio d'aspect de l'image */
}

.zoomable-image:hover {
    transform: scale(1.1); /* Applique un zoom de 10% à l'image */
}



/* PAGE DETAIL PRODUIT */
.product-detail {
    display: flex;
    margin: 20px;
}

.product-image img {
    width: 600px;
    height: auto;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.product-info {
    margin: 0 auto;
    width: 40%;
}

.product-info .name{
    font-size: 6em;
}

.description {
    margin-top: 10px;
    color: #666;
}

.price {
    margin-top: 30px;
    font-size: 24px;
    color: #333;
}

.taxe{
    margin-top: 10px;
    font-size: 0.8em;
}

.quantity-input{
    display: flex;
    position: relative;
    width: 130px;
    height: 50px;
    border:1px solid #000;
    margin-top: 30px;
    border-radius: 4px;
    
}
.quantity_button{
    margin-top: 0px;
    color:#000;
}
.quantity_input{
    padding:0;
    text-align: center;
    width: 30px;
    border:none;
    background: none;
}

.add_panier{
    width: 100%;
    border: 1px solid #000;
    background-color: #fff;
    color:#000;
    transition: box-shadow 0.3s ease;
}

button {
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 10px;
}

.add_panier:hover {
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.8);
}



/* FOOTER */
footer {
    background-color: #0000006b; /* Couleur de fond du footer */
    padding: 20px 0; /* Espacement autour du contenu du footer */
    text-align: center; /* Centrer le texte et les éléments à l'intérieur */
}

.footer-menu ul {
    list-style-type: none; /* Supprime les puces des listes */
    padding: 0;
    margin: 0;
    display: inline-block; /* Rend la liste inline pour la centrer */
}

.footer-menu li {
    display: inline; /* Afficher les éléments de la liste sur une seule ligne */
    margin: 0 15px; /* Espace horizontal entre les éléments */
}

.footer-menu a {
    text-decoration: none; /* Supprime la soulignement des liens */
    color: #fff; /* Couleur des liens */
}

.footer-menu a:hover {
    text-decoration: underline; /* Ajouter une soulignement au survol */
}
