@tailwind base;
@tailwind components;
/*@tailwind utilities;*/


body{
    background-color: #c8e1c8;
}
.page-wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.main{
    flex:1;
}

header {
    margin-bottom: 50px;
}

h1{
    font-size: 24px;
}
h2{
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
}
h3{
    font-size: 18px;
    margin-top: 15px;
    margin-bottom: 5px;
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 600;
}


.legale ul  {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.legale li {
    margin-bottom: 10px;
    margin-left:30px;
    list-style: auto;
}
.legale a {
    color: #0056b3;
    text-decoration: none;
}
.legale a:hover {
    text-decoration: underline;
}
/* NAVIGATION */
#navbarNav .navbar {
    display: flex; 
    justify-content: space-between;
    align-items: center; 
    padding: 10px 20px; 
    width: 100%;
}

.navbar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex; 
}

.nav-item {
    margin: 0 15px; 
}

.nav-link {
    text-decoration: none;
    font-weight: bold;
}

.nav-link:hover {
    text-decoration: underline;
}

.top_custom{
    top:10px;
}


.center-menu {
    flex: 1; 
    justify-content: center; 
}


.right-menu {
    margin-left: auto; 
}

.logo{
    height: 120px;
    width: auto;
}
.logo-fixed{
    height: 50px;
    width: auto;
}
.navbar-fixed {
    position: fixed;
    top: 0;
    width: 100%;
    height: 70px;
    z-index: 200;
    background-color: #8fc18f;
    transition: all 0.9s ease;
    transform: translateY(0);
}


.navbar-fixed-shadow {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#navbar{
    padding-top:0;background-color: #8fc18f;
}

a:hover{
    color:#000
}

.image-container {
    overflow: hidden;
}

.zoomable-image {
    transition: transform 0.3s ease; 
    width: 100%;
    height: auto;
}

.zoomable-image:hover {
    transform: scale(1.1);
}


#cart-sidebar {
    width: 300px; 
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    background-color: #edebd2;
    overflow-y: auto; 
    transition: transform 0.3s ease, opacity 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000; 
    opacity: 1;
    transform: translateX(0);
    overflow-x: hidden;
    padding: 60px 20px;
}
#cart-sidebar.close {
    transform: translateX(100%);
    opacity: 0;
}


/* PAGE DETAIL PRODUIT */
.product-detail {
    margin: 20px;
}

.product-image img {
    width: 600px;
    height: auto;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.product-info {
    margin: 0 auto;
}

.product-info .name{
    font-size: 4em;
    white-space: nowrap;
}

.description {
    margin-top: 10px;
    color: #666;
}

.price {
    margin-top: 30px;
    font-size: 24px;
    color: #333;
}

.taxe{
    margin-top: 10px;
    font-size: 0.8em;
}

.quantity-input{
    display: flex;
    position: relative;
    width: 130px;
    height: 50px;
    border:1px solid #000;
    margin-top: 30px;
    border-radius: 4px;
    
}
.quantity_button{
    margin-top: 0px;
    color:#000;
}
.quantity_input{
    padding:0;
    text-align: center;
    width: 30px;
    border:none;
    background: none;
}

.add_panier{
    width: 100%;
    border: 1px solid #000;
    background-color: #fff;
    color:#000;
    transition: box-shadow 0.3s ease;
}

button {
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 10px;
}

.add_panier:hover {
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.8);
}


/*  PANIER */
.panierName {
    font-size: 4em;
}
.containerPanier {
    display: flex;
    justify-content: space-between;
    padding: 20px;

    .table-container {
        flex: 2;
    }

    .summary-container {
        flex: 0.5;
    }

    table {
        width: 100%;
        border-collapse: collapse;border: 1px solid #ddd;

        th {
            background-color: #f4f4f4;
        }
        th, td {
            padding: 10px;
            text-align: left;border: 1px solid #ddd;
        }
    }

    .total {
        font-weight: bold;
        font-size: 1.2em;
    }

    .btn {
        display: inline-block;
        padding: 10px 20px;
        font-size: 1em;
        color: #fff;
        background-color: #007bff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        text-align: center;
        text-decoration: none;
        width: 100%;

        &:hover {
            background-color: #0056b3;
        }
    }

    .btn-danger {
        background-color: #dc3545;

        &:hover {
            background-color: #c82333;
        }
    }
}

.containerRecap{
    padding:20px;
}

/* CONTACT*/
.contact.form-container {
    width: 50%;
    margin: 0 auto;
}
.contact {
    .form-group {
        display: flex;
        align-items: center;
        margin-bottom: 15px;
    
        label {
            width: 15%;
            margin-right: 10px;
        }

        input, textarea{
            width: 70%;
            padding: 5px;
        }
    }
    .btn-primary {
        display: block;
        border: 1px solid #000;
        background-color: #fff;
        color:#000;
        margin: 0 auto;
    }
}

/* FIN CONTACT*/
/* FOOTER */
footer {
    background-color: #0000006b; 
    padding: 20px 0; 

    .footer-menu ul {
        list-style-type: none; 
        padding: 0;
        margin: 0;
        display: inline-block; 

        li {
            display: inline; 
            margin: 0 15px; 

            a {
                text-decoration: none; 
                color: #fff; 

                &:hover{
                    text-decoration: underline; 
                }
            }
        }
    }
}

/* CONNEXION*/
.connexion{
    width: 300px;
    border: 1px solid #000;
    border-radius: 15px;
    padding: 15px;
    margin: 0 auto;
    background-color: #fff;

    button[type="submit"]{
        background-color: #000;
    }
}

/* MODAL*/
.modal-content {
    display: flex;
    flex-direction: row;
}
.modal-body {
    display: flex;
    flex-direction: row;
}
.modal-section {
    flex: 1;
    padding: 20px;
}
.modal-left {
    border-right: 1px solid #ddd;
}
.modal-right {
    border-left: 1px solid #ddd;
}
.modal .btn{
    padding: 10px 20px;
    font-size: 1em;
    color: #000;
    background-color: #e4d1cb;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    width: 70%;
    margin: 0 auto;
}

.btnPerso{
    padding: 10px 20px;
    font-size: 1em;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    width: 70%;
    margin: 0 auto;
    transition: box-shadow 0.3s ease;
    
    &:hover{
        color: #000;
        box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.8);
    }
}
.btnCb{
    padding: 10px 20px;
    background-color: #00D152;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    font-size: 20px;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    border: 2px solid transparent;
  
  &:hover {
    filter: brightness(0.95);
    color: white;
  }
}
.btnPaypal{
    display: inline-block;
    padding: 10px 20px;
    background-color: #ffc439;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transition: background-color 0.3s ease, box-shadow 0.3s ease; 
    border: 2px solid transparent;
    
    
    &:hover {
        filter: brightness(0.95);
    }
}
.btnMainPropre{
    padding: 10px 20px;
    background-color: #001fd1;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    font-size: 20px;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    border: 2px solid transparent;
  
  &:hover {
    filter: brightness(0.95);
    color: white;
  }
}

/* DASHBOARD */
.sidebarDashboard{
    margin-right: 10px;

    ul{
        li{
            padding: 2px;
        }
    }
}
.contentDashboard{
    width: 100%;
    border-radius: 0.5em;

    h3{
        margin-top: 0;
    }

    button[type="submit"]{
        background-color: #000;
    }

    .btnDetail{
        font-size: 1em;
        color: #000;
        background-color: #fff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        text-align: center;
        text-decoration: none;
        transition: box-shadow 0.3s ease;
        
        &:hover{
            color: #000;
            box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.8);
        }
    }

    .containerCommande{
        display: flex;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        border-radius: 8px;
        background-color: #fff;
        margin-bottom: 16px;
        overflow: hidden;
    }
    .content{
        flex: 3;
        padding: 16px;
    }
    .buttonContainer{
        flex: 2;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding: 16px;
        
        a{
            transition: box-shadow 0.3s ease;

            &:hover{
                box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
            }
        }
    }
}

.commande table td{
    border: 1px solid #ddd;
}

@media (max-width: 576px) {
    .product-info .name, .panierName {
        font-size: 2.8rem; 
        white-space: normal;
    }
}

@media (min-width: 577px) and (max-width: 768px) {
    .product-info .name, .panierName {
        font-size: 3.5rem; 
    }
}
@media (max-width: 768px) {

    .sidebarDashboard {
        margin-right: 0px;
        margin-bottom: 10px;
    }
}
@media (min-width: 769px) {
    .product-info .name, .panierName {
        font-size: 4rem;
    }
}

@media (max-width : 991px){
    .navbar-fixed{
        height: auto;
    }
}